body {
    font-family: Tahoma;
    font-size: 40px;
    
}

.box {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    row-gap: 10px;
}

.item {
    border-top: 1px solid #687291;
    background-color: rgb(237, 237, 237);
    width: 100px;
    height: 100px;
}

.darken {
    border-top: 1px solid #687291;
    background-color: lightgray;
}

.special {
    border:solid 4px #000000;
    background-color: #687291;
}
